.ui-image{
    float: right;
    margin-right: 30px;
}

.image-shadow{
    border: 1px solid black;
    box-shadow: 5px 5px 5px #888888;
    margin-bottom: 10px;
}

li{
    margin: 5px;
}


table { 
    border-collapse: separate;
    border-spacing: 10px;
}

table > thead > tr > td{
    font-weight: bold;
}

body{
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1000px;
}

.section{
    margin-bottom: 50px;
}

.centered{
    text-align: center;
}